################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/MainComponentWpf/bin/Debug/net9.0-windows
/MainComponentWpf/obj
/XControlComponent/bin/Debug/net9.0-windows
/XControlComponent/obj
/MainComponentWpf/bin/Debug/net10.0-windows7.0
/XControlComponent/bin/Debug/net10.0-windows7.0
